# Price Prediction

# Objectives

**Predict the price of the car based on the features in the dataset.**

# Data Setup

In [1]:
import pandas as pd

In [46]:
df = pd.read_csv('Automobile_data.csv')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [23]:
df['price'].unique()

array(['13495', '16500', '13950', '17450', '15250', '17710', '18920',
       '23875', '?', '16430', '16925', '20970', '21105', '24565', '30760',
       '41315', '36880', '5151', '6295', '6575', '5572', '6377', '7957',
       '6229', '6692', '7609', '8558', '8921', '12964', '6479', '6855',
       '5399', '6529', '7129', '7295', '7895', '9095', '8845', '10295',
       '12945', '10345', '6785', '11048', '32250', '35550', '36000',
       '5195', '6095', '6795', '6695', '7395', '10945', '11845', '13645',
       '15645', '8495', '10595', '10245', '10795', '11245', '18280',
       '18344', '25552', '28248', '28176', '31600', '34184', '35056',
       '40960', '45400', '16503', '5389', '6189', '6669', '7689', '9959',
       '8499', '12629', '14869', '14489', '6989', '8189', '9279', '5499',
       '7099', '6649', '6849', '7349', '7299', '7799', '7499', '7999',
       '8249', '8949', '9549', '13499', '14399', '17199', '19699',
       '18399', '11900', '13200', '12440', '13860', '15580', '16900',
       '16695', '17075', '16630', '17950', '18150', '12764', '22018',
       '32528', '34028', '37028', '9295', '9895', '11850', '12170',
       '15040', '15510', '18620', '5118', '7053', '7603', '7126', '7775',
       '9960', '9233', '11259', '7463', '10198', '8013', '11694', '5348',
       '6338', '6488', '6918', '7898', '8778', '6938', '7198', '7788',
       '7738', '8358', '9258', '8058', '8238', '9298', '9538', '8449',
       '9639', '9989', '11199', '11549', '17669', '8948', '10698', '9988',
       '10898', '11248', '16558', '15998', '15690', '15750', '7975',
       '7995', '8195', '9495', '9995', '11595', '9980', '13295', '13845',
       '12290', '12940', '13415', '15985', '16515', '18420', '18950',
       '16845', '19045', '21485', '22470', '22625'], dtype=object)

In [47]:
df['price'] = df['price'].replace('?', 0)

In [48]:
df['price'] = df['price'].astype('int64')

In [49]:
df['price']

0      13495
1      16500
2      16500
3      13950
4      17450
       ...
200    16845
201    19045
202    21485
203    22470
204    22625
Name: price, Length: 205, dtype: int64

In [51]:
df['price'] = df['price'].replace(0, df['price'].mean())

In [52]:
df.corr()['price']

symboling           -0.082028
wheel-base           0.583379
length               0.683376
width                0.728409
height               0.134938
curb-weight          0.820823
engine-size          0.861719
compression-ratio    0.071166
city-mpg            -0.667642
highway-mpg         -0.690822
price                1.000000
Name: price, dtype: float64

In [53]:
abs(df.corr()['price']).sort_values(ascending=False)

price                1.000000
engine-size          0.861719
curb-weight          0.820823
width                0.728409
highway-mpg          0.690822
length               0.683376
city-mpg             0.667642
wheel-base           0.583379
height               0.134938
symboling            0.082028
compression-ratio    0.071166
Name: price, dtype: float64

## Categorical Values

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    float64
dtypes: float64(6), int64(5), object(15)
memory usage: 41.8+ KB

In [55]:
df['symboling'].unique()

array([ 3,  1,  2,  0, -1, -2], dtype=int64)

In [34]:
df['make'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [35]:
df['fuel-type'].unique()

array(['gas', 'diesel'], dtype=object)

In [36]:
df['aspiration'].unique()

array(['std', 'turbo'], dtype=object)

In [ ]:
drive-wheels

In [57]:
df['num-of-cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [58]:
df['num-of-cylinders'] = df['num-of-cylinders'].replace('four', 4)

In [59]:
df['num-of-cylinders'] = df['num-of-cylinders'].replace('six', 6)

In [60]:
df['num-of-cylinders'] = df['num-of-cylinders'].replace('five', 5)

In [61]:
df['num-of-cylinders'] = df['num-of-cylinders'].replace('three', 3)

In [62]:
df['num-of-cylinders'] = df['num-of-cylinders'].replace('twelve', 12)

In [63]:
df['num-of-cylinders'] = df['num-of-cylinders'].replace('two', 2)

In [64]:
df['num-of-cylinders'] = df['num-of-cylinders'].replace('eight', 2)

In [65]:
df['num-of-cylinders'] = df['num-of-cylinders'].astype('int64')

In [68]:
df['horsepower'] = df['horsepower'].replace('?',0 )

In [71]:
df['horsepower'] = df['horsepower'].astype('int64')

In [73]:
df['horsepower'] = df['horsepower'].replace(0, df['horsepower'].mean())

In [74]:
df['horsepower']

0      111.0
1      111.0
2      154.0
3      102.0
4      115.0
       ...
200    114.0
201    160.0
202    134.0
203    106.0
204    114.0
Name: horsepower, Length: 205, dtype: float64

In [56]:
df['drive-wheels'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [45]:
df['num-of-doors'].value_counts()

4    205
Name: num-of-doors, dtype: int64

In [41]:
df['num-of-doors'] = df['num-of-doors'].replace('?', "4")

In [43]:
df['num-of-doors'] = df['num-of-doors'].replace('four', "4")

In [44]:
df['num-of-doors'] = df['num-of-doors'].replace('two', "2")

In [ ]:
df['make'].unique()

In [29]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    int64
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    float64
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    float64
dtypes: float64(7), int64(6), object(13)
memory usage: 41.8+ KB

In [77]:
outliers = df.quantile(.97)

# Modelling

In [98]:
X = df[['make', 'fuel-type', 'aspiration', 'num-of-doors', 'length', 'width', 'height', 'engine-type', 'num-of-cylinders', 'fuel-system', 'horsepower']]

In [99]:
y= df['price']

In [100]:
X = pd.get_dummies(X,drop_first=True)

In [101]:
X.shape

(205, 43)

In [102]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [103]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.1,random_state=13) #train_size=0.8

In [104]:
lr=LinearRegression()
regmodel=lr.fit(X_train, y_train)

In [105]:
from sklearn.metrics import mean_squared_error,r2_score

In [106]:
y_pretest=lr.predict(X_test)

In [107]:
mean_squared_error(y_test,y_pretest)**0.5 #araba başına yapılan hata --8000 dolar

2520.1234863657705

In [108]:
r2_score(y_test,y_pretest)

0.8182442893131603